{% load static %}
<link href='{% static 'css/style.css'%}'></link>
<div style="text-align:center; margin-top: 20px;">
    <img src="{% static 'images/logo.png'%}" alt="{{ restaurant.name }}">

</div>

<h1>Home</h1>
<nav>
    <ul>
        <li>
            <a href=''>home</a>
            <a href='{% url 'restaurant' %}'>about restaurant</a>
        </l1>
    </ul>
</nav>
<body>
    <section>
        <div style='text-decoration:None;'>
            //has been done already!!!!
            Welcome to the home page
            <h2 style="color: blue;">{{ restaurant.name}}</h2>
            <h2>{{ restaurant.phone_number}}</h2>
        </div style='text-align:center'>
        
        //search bar
        <form method="get">
            <input type="text" name="q" placeholder="search here">
    `       <button type="submit">Search</button>
        </form>
        <div>
            // comment form
            <form>
                <textarea name="comment" rows="5" cols="5" placeholder="your comment">
            </form>

        </div>
    </section>
    <footer style="background-color:black; color:white; text-align: center; ">
        &copy;{{ now|date:"Y"}} {{restaurant.name}} rights reserved .
        opening Hours Mon-Fri 8:00pm-6:00pm
        </footer>
</body>